@model int
<div class="container d-flex justify-content-center">
    <div class="p-4" style="max-width: 100%; width: 100%;">

        <!-- Mensagens de carregamento, sucesso e erro -->
        <div id="loadingMessage" class="text-center m-auto" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
            <p>Processando, por favor aguarde...</p>
        </div>

        <div id="successMessage" class="text-center mb-10" style="display: none;">
            <i class="fas fa-check-circle text-success" style="font-size: 30px;"></i>
            <p>Imagem adicionada com sucesso!</p>
        </div>

        <div id="errorMessage" class="text-center mb-10" style="display: none;">
            <i class="fas fa-times-circle text-danger" style="font-size: 30px;"></i>
            <p>Ocorreu um erro ao adicionar a imagem.</p>
        </div>

        <!-- Formulário de upload de imagem -->
        <form id="formImagem" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
            <input type="hidden" id="nCdProduto" value="@Model" />

            <div class="col-md-12">
                <label for="imagem" class="form-label">Selecione a Imagem</label>
                <input type="file" class="form-control" id="imagem" name="imagem" accept="image/*" required />
                <div class="invalid-feedback">Por favor, selecione uma imagem.</div>
            </div>

            <div class="col-md-12">
                <label for="descricao" class="form-label">Descrição da Imagem</label>
                <input type="text" class="form-control" id="descricao" name="descricao" required />
                <div class="invalid-feedback">Por favor, insira uma descrição.</div>
            </div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Adicionar Imagem</button>
            </div>
        </form>

        <hr />

        <div id="gridContainer" class="mt-4" style="max-height: 350px;overflow: scroll;">
            <label for="table-responsive" class="form-label">Lista de Imagens</label>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Imagem</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="gridBody"></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <button id="btnVoltar" class="btn btn-secondary">Voltar</button>
            <button type="button" id="btnFinalizar" class="btn btn-primary">Finalizar</button>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {

        function popularGrid(dados, limparGrid = false) {
            const gridBody = document.getElementById("gridBody");
            if (limparGrid) { gridBody.innerHTML = ""; }

            dados.forEach((item, index) => {
                const caminhoAbsoluto = item.sDsCaminho.replace(/\\/g, '/');
                const caminhoImagem = `/images/${caminhoAbsoluto.split('images/')[1]}`;
                const row = `<tr><th scope="row">${gridBody.children.length + 1}</th><td><img src="${caminhoImagem}" alt="Imagem ${item.nCdImagem}" style="width: 100px; height: auto;"></td><td>${item.sDsImagem}</td><td><button data-id="${item.nCdImagem}" class="btn btn-sm btn-danger bntExcluir">Excluir</button></td></tr>`;
                gridBody.insertAdjacentHTML("beforeend", row);
            });
        }

        function obterImagensProduto() {
            $.ajax({
                url: '@Url.Action("ObterImagensProduto", "Administrador")/' + @Model,
                type: 'GET',
                success: function (response) {
                    popularGrid(response, true);
                },
                error: function (xhr, status, error) {
                    alert("Ocorreu um erro ao carregar as imagens: " + error);
                }
            });
        }

        function adicionarNovaImagem(nCdImagem, sDsCaminho, sDsImagem){
            var imagem = [{ nCdImagem: nCdImagem, sDsCaminho: sDsCaminho, sDsImagem: sDsImagem }];
            popularGrid(imagem);
        }

        function excluirImagem(nCdImagem, callback){
            $.ajax({
                url: '@Url.Action("ExcluirImagem", "Administrador")/' + nCdImagem,
                type: 'DELETE',
                success: function (response) {
                    if (response.success) {
                        callback(true); 
                    } else {
                        callback(false, response.message || 'Erro ao excluir imagem.');
                    }
                },
                error: function (xhr, status, error) {
                    callback(false, 'Erro na requisição: ' + error);
                }
            });
        }

        obterImagensProduto();

        $(document).on('click', '.bntExcluir', function () {
            const nCdImagem = $(this).data('id');
            const botao = $(this);

            excluirImagem(nCdImagem, function (sucesso, mensagemErro) {
                if (sucesso) {
                    botao.closest('tr').fadeOut();
                } else {
                    console.error('Erro ao excluir imagem:', mensagemErro);
                    alert(mensagemErro);
                }
            });
        });

        $(document).on('click', '#btnFinalizar', function () {
            location.href = '@Url.Action("Produto", "Administrador")';
        });

        $(document).on('click', '#btnVoltar', function () {
            location.href = '@Url.Action("ProdutoVariacoesEditar", "Administrador")/' + @Model;
        });


        $('#formImagem').on('submit', function (event) {
            event.preventDefault();

            if (this.checkValidity() === false) {
                event.stopPropagation();
                $(this).addClass('was-validated');
                return;
            }

            const formData = new FormData();
            formData.append('nCdProduto', $('#nCdProduto').val());
            formData.append('imagem', $('#imagem')[0].files[0]);
            formData.append('descricao', $('#descricao').val());
                
            $('#formImagem').hide();
            $('#loadingMessage').show();
            $('#successMessage').hide();
            $('#errorMessage').hide();

            $.ajax({
                url: '@Url.Action("AdicionarImagem", "Administrador")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#loadingMessage').hide();
                        $('#successMessage').fadeIn();
                        $('#formImagem')[0].reset();
                        $('#formImagem').removeClass('was-validated');
                        $('#formImagem').show();

                        adicionarNovaImagem(response.produtoImagem.nCdImagem, response.produtoImagem.sDsCaminho, response.produtoImagem.sDsImagem);
                        
                    } else {
                        $('#loadingMessage').hide();
                        $('#errorMessage').fadeIn();
                        $('#formImagem').show();
                    }
                },
                error: function (xhr, status, error) {
                    $('#loadingMessage').hide();
                    $('#errorMessage').fadeIn();
                    $('#formImagem').show();
                    console.error('Erro ao enviar a imagem:', error);
                }
            });
        });
    });
</script>