@{
    var produto = ViewData["Produto"] as Domain.Entities.CWProduto;
}

<div class="container d-flex justify-content-center">
    <div class="p-4" style="max-width: 70%; width: 100%;">
        <form id="formProduto" class="row g-3 needs-validation" novalidate>
            <!-- Campos do formulário -->
            <div class="col-md-10">
                <label for="nomeProduto" class="form-label">Nome do Produto</label>
                <input type="text" class="form-control" id="nomeProduto" name="nomeProduto" value="@(produto?.sNmProduto ?? string.Empty)" required>
                <div class="valid-feedback">Nome válido!</div>
                <div class="invalid-feedback">Por favor, insira o nome do produto.</div>
            </div>
            <div class="col-md-2">
                <label for="codigoProduto" class="form-label">Código</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">#</span>
                    <input type="text" class="form-control" id="codigoProduto" name="codigoProduto" value="@(produto?.sCdProduto ?? string.Empty)" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">Por favor, insira o código do produto.</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="preco" class="form-label">Preço de Venda</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">R$</span>
                    <input type="text" class="form-control preco" id="preco" name="preco" value="@(produto?.dVlVenda ?? 0)" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">Por favor, insira um valor monetário válido.</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="precoUnitario" class="form-label">Preço unitário</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">R$</span>
                    <input type="text" class="form-control preco" id="precoUnitario" name="precoUnitario" value="@(produto?.dVlUnitario ?? 0)" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">Por favor, insira um valor monetário válido.</div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="descricaoProduto" class="form-label">Descrição do produto</label>
                <textarea class="form-control" style="max-height: 150px;" id="descricaoProduto" name="descricaoProduto" required>@(produto?.sDsProduto ?? string.Empty)</textarea>
                <div class="invalid-feedback">Por favor, insira a descrição do produto.</div>
            </div>
            <div class="col-md-3">
                <label for="tipoUnidade" class="form-label">Tipo de Unidade</label>
                <select class="form-select unidade" id="tipoUnidade" name="tipoUnidade" required>
                    <option disabled value="">Escolha...</option>
                </select>
                <div class="invalid-feedback">Por favor, selecione o tipo de unidade.</div>
            </div>
            <div class="col-md-4">
                <label for="tagsBusca" class="form-label">Tags para busca</label>
                <input type="text" class="form-control" id="tagsBusca" name="tagsBusca" value="@(produto?.sNmProduto ?? string.Empty)" required>
                <div class="invalid-feedback">Por favor, insira as tags para busca.</div>
            </div>
            <div class="col-md-5">
                <label for="videoYoutube" class="form-label">Vídeo do youtube</label>
                <input type="text" class="form-control" id="videoYoutube" name="videoYoutube" value="@(produto?.sUrlVideo ?? string.Empty)" required>
                <div class="invalid-feedback">Por favor, insira o link do vídeo do YouTube.</div>
            </div>
            <br />
            <h6 class="mt-12">Dimensões da embalagem <span class="badge bg-secondary"><i class="fas fa-gear"></i></span></h6>
            <div class="col-md-6">
                <label for="largura" class="form-label">Largura (cm)</label>
                <input type="text" class="form-control" id="largura" name="largura" value="@(produto?.sLargura ?? string.Empty)" required>
                <div class="invalid-feedback">Por favor, insira a largura da embalagem.</div>
            </div>
            <div class="col-md-6">
                <label for="comprimento" class="form-label">Comprimento (cm)</label>
                <input type="text" class="form-control" id="comprimento" name="comprimento" value="@(produto?.sComprimento ?? string.Empty)" required>
                <div class="invalid-feedback">Por favor, insira o comprimento da embalagem.</div>
            </div>
            <div class="col-md-6">
                <label for="altura" class="form-label">Altura (cm)</label>
                <input type="text" class="form-control" id="altura" name="altura" value="@(produto?.sAltura ?? string.Empty)" required>
                <div class="invalid-feedback">Por favor, insira a altura da embalagem.</div>
            </div>
            <div class="col-md-6">
                <label for="peso" class="form-label">Peso (kg)</label>
                <input type="text" class="form-control" id="peso" name="peso" value="@(produto?.sPeso ?? string.Empty)" required>
                <div class="invalid-feedback">Por favor, insira o peso da embalagem.</div>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Salvar e avançar</button>
            </div>
        </form>

        <!-- Mensagem de processamento -->
        <div id="loadingMessage" class="text-center m-auto" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
            <p>Processando, por favor aguarde...</p>
        </div>

        <!-- Div para carregar o próximo passo -->
        <div id="proximoPassoContainer" class="mt-4"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            async function carregarUnidadesDeMedida() {
                try {
                    const response = await $.ajax({
                        url: '/Administrador/UnidadeDeMedida',
                        type: 'GET',
                        data: {}
                    });

                    let html = "";
                    response.forEach((item) => {
                        const selected = item.nCdUnidadeMedida === @(produto.nCdUnidadeMedida) ? "selected" : "";
                        html += `<option ${selected} value="${item.nCdUnidadeMedida}">${item.sDsUnidadeMedida}</option>`;
                    });
                    $('.unidade').append(html);
                } catch (error) {
                    console.error('Erro ao buscar unidades de medidas:', error);
                    alert('Erro ao carregar as unidades de medidas.');
                }
            }

            function validarValorMonetario(valor) {
                return /^[0-9,.]*$/.test(valor);
            }

            function formatarValorMonetario(valor) {
                valor = valor.replace(/[^0-9,]/g, '');
                valor = valor.replace(',', '.');
                return valor ? parseFloat(valor) : null;
            }

            $('.preco').on('input', function () {
                const valor = $(this).val();
                if (!validarValorMonetario(valor)) {
                    $(this).val(valor.replace(/[^0-9,.]/g, ''));
                }
                $(this).toggleClass('is-invalid', !validarValorMonetario(valor));
            });

            $('.preco').on('blur', function () {
                const valor = $(this).val();
                if (validarValorMonetario(valor)) {
                    const valorFormatado = formatarValorMonetario(valor);
                    $(this).val(valorFormatado.toFixed(2).replace('.', ','));
                }
            });

            $('#formProduto').on('submit', async function (e) {
                e.preventDefault();

                if (!this.checkValidity()) {
                    e.stopPropagation();
                    $(this).addClass('was-validated');
                    return;
                }

                $('#formProduto').hide();
                $('#loadingMessage').show();

                try {
                    const formData = {
                        nCdProduto: @(produto.nCdProduto),
                        sNmProduto: $('#nomeProduto').val(),
                        sCdProduto: $('#codigoProduto').val(),
                        sDsProduto: $('#descricaoProduto').val(),
                        nCdUnidadeMedida: parseInt($('#tipoUnidade').val()),
                        sUrlVideo: $('#videoYoutube').val(),
                        sLargura: $('#largura').val(),
                        sComprimento: $('#comprimento').val(),
                        sAltura: $('#altura').val(),
                        sPeso: $('#peso').val(),
                        dVlVenda: formatarValorMonetario($('#preco').val()),
                        dVlUnitario: formatarValorMonetario($('#precoUnitario').val())
                    };

                    const response = await $.ajax({
                        url: '@Url.Action("AtualizarProduto", "Administrador")',
                        type: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(formData)
                    });

                    if (response.success) {
                        $('#loadingMessage').hide();
                        await proximoPassoEdicao(@(produto.nCdProduto));
                    } else {
                        alert(response.message);
                    }
                } catch (error) {
                    if (error.status === 400) {
                        const errors = error.responseJSON.errors;
                        alert("Erros de validação: " + errors.join(", "));
                    } else {
                        alert('Ocorreu um erro ao salvar os dados: ' + error.statusText);
                    }
                }
            });

            async function proximoPassoEdicao(nCdProduto) {
                try {
                    $('#formProduto').hide();
                    $('#loadingMessage').show();

                    $('#proximoPassoContainer').load('@Url.Action("ProximoPassoEdicao", "Administrador")', { nCdProduto: nCdProduto }, function (response, status, xhr) {
                        if (xhr.status === 302) {
                            window.location.href = xhr.getResponseHeader('Location');
                        } else if (status === "error") {
                            alert('Ocorreu um erro ao carregar o próximo passo.');
                        } else {
                            $('#loadingMessage').hide();
                            $('#proximoPassoContainer').show();
                        }
                    });
                } catch (error) {
                    alert('Ocorreu um erro ao avançar para o próximo passo: ' + error.statusText);
                }
            }

            carregarUnidadesDeMedida();
        });
    </script>
}